@model WebShop_Mobile.Models.CellPhone

    <div id="@Model.Id" class="col-md-offset-1 col-md-5">
        <strong style="font-size:16px">@Model.Name</strong>
        <div>
            @Model.Developer <br />
            @Model.ProductCode <br />
            @Model.ReleaseYear <br />
        </div>
        <div style="font-size:12px">@string.Format("Price: {0}kr", Model.Price.ToString("N2"))</div>
      
        @Html.ActionLink("Details", "Details","Product", new {id=Model.Id }, null)
        @Html.ActionLink("Edit", "Edit", new { id=Model.Id})

    </div>