<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-3" id="Title">
                @Ajax.ActionLink("ShopMobile", "Index", "Home", new AjaxOptions {
               UpdateTargetId = "MainBody", HttpMethod = "get", InsertionMode = InsertionMode.Replace },
                     new { @class = "navbar-brand" })
            </div>
            @*<div class="col-xs-5">
        <div class="row">*@
            <div class=" col-xs-5" id="AjaxForm">
                @using (Ajax.BeginForm(new AjaxOptions
                {
                    UpdateTargetId = "MainBody",
                    HttpMethod = "get",
                    InsertionMode = InsertionMode.Replace
                }))
                {
                    <input class="form-control col-xs-3" id="SearchInput" type="text" placeholder="Sök..." />
                    <button class="btn btn-primary" id="SearchButton" type="submit">Sök</button>
                }
            </div>
            @*</div>
        </div>*@

            @*<div class="col-xs-1"></div>*@
            @Html.Partial("_LoginPartial")

        </div>
    </div>

    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary ">
        <div class="collapse navbar-collapse ">
            <ul class="navbar-nav container justify-content-center">
                <li class="nav-item active ">
                    @*<a class="nav-link">*@
                    @Ajax.ActionLink("Hem", "Index", "Home", null, new AjaxOptions
               {
                   UpdateTargetId = "MainBody",
                   HttpMethod = "get",
                   InsertionMode = InsertionMode.Replace
               }, new { @class = "navbar-text" })
                    @*</a>*@
                </li>
                <li class="nav-item">
                    @*<a class="nav-link">*@
                    @Ajax.ActionLink("Kategorier", "Categories", "Product", null, new AjaxOptions
               {
                   UpdateTargetId = "MainBody",
                   HttpMethod = "get",
                   InsertionMode = InsertionMode.Replace
               }, new { @class = "navbar-text" })
                    @*</a>*@
                </li>
                <li class="nav-item">
                    @*<a class="nav-link">*@
                    @Ajax.ActionLink("Om oss", "About", "Home", null, new AjaxOptions
               {
                   UpdateTargetId = "MainBody",
                   HttpMethod = "get",
                   InsertionMode = InsertionMode.Replace
               }, new { @class = "navbar-text" })
                    @*</a>*@
                </li>
                <li class="nav-item">
                    @*<a class="nav-link">*@
                    @Ajax.ActionLink("Kontakta oss", "Contact", "Home", null, new AjaxOptions
               {
                   UpdateTargetId = "MainBody",
                   HttpMethod = "get",
                   InsertionMode = InsertionMode.Replace
               }, new { @class = "navbar-text" })
                    @*</a>*@
                </li>
            </ul>
        </div>
    </nav>

    <div id="MainBody" class="container body-content">
        @RenderBody()
        <hr />
    </div>
    <footer class="text-sm-center">
        <p>&copy; @DateTime.Now.Year - ShopMobile</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
