@model WebShop_Mobile.Models.TestProduct

    <div>
        <h2>@Model.Name</h2>
        <div>
            @Model.Manufacturer <br />
            @Model.ProductCode <br />
            @Model.ReleaseYear <br />
        </div>
        <h4>@string.Format("Price: {0}kr", Model.Price.ToString("N2"))</h4>
        <div>
            <h5>Available in:</h5> <br />
            @foreach (var item in Model.Colors)
            {
                <div>@item</div>
                @*<label><input type="radio" name="color" value="@item" />@item</label>*@
            }
        </div>

        <hr />

    </div>
