@model WebShop_Mobile.Models.Order

@{
    ViewBag.Title = "Kundvagn";
    float total = 0;
}

<h2>Cart</h2>
@if (Model != null)
{
    <h4>@Model.OrderDate</h4>
}
else
{
    <h4>@DateTime.Now.Date</h4>
}

<hr />

@if (Model != null)
{
    foreach (var item in Model.OrderRows)
    {
        <div class="float-md-right">
            @Ajax.ActionLink("Remove", "RemoveFromCart", "Product", new {cellId=item.Id, orderId=Model.Id }, new AjaxOptions()
               {
                   UpdateTargetId = "MainBody",
                   HttpMethod = "get",
                   InsertionMode = InsertionMode.Replace
               })
        </div>
        <h3>Name: @item.CellPhone.Name</h3>
        <div>@string.Format("Price: {0}kr", item.Price.ToString("N2"))</div>
        <hr />
        total += item.Price;
    }
}


<div id="checkout">
    <h3>Total: @string.Format("Price: {0}kr", total.ToString("N2"))</h3>

    @if (Model != null && Model.OrderRows.Count > 0)
    {
        @*<a href="/Product/Checkout/" class="btn btn-lg btn-primary" data-ajax-update="#MainBody" data-ajax-mode="replace" data-ajax="true">Checkout</a>*@
        Ajax.BeginForm("Checkout", "Product", null, new AjaxOptions()
        {
            HttpMethod = "get",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "MainBody"
        }); {
            <input type="submit" class="btn btn-lg btn-primary" value="Gå till kassa"/>
        }
    }

</div>



@*foreach (var item in Model.OrderRows)
    {
        <div class="float-md-right">@Html.ActionLink("Remove", "RemoveFromCart", "Product", new{cellId=item.Id, orderId=Model.Id }, null)</div>
        <h3>Name: @item.CellPhone.Name</h3>
        <div>@string.Format("Price: {0}kr", item.Price.ToString("N2"))</div>
        <hr />
        total += item.Price;
    }*@