@model WebShop_Mobile.Models.CellPhone

@{
    ViewBag.Title = "Details";

    var image = Model.ProductCode;
    image.TrimEnd('+', ' ');
    image += ".jpg";
}

<h2>Details</h2>

<div>
    <h4>@Model.Name</h4>
    <hr />
    <img class="img-responsive" src="~/Content/Img/@image" alt="@Model.Name" width="400"/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ReleaseYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReleaseYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Retina)
        </dt>

        <dd>
            @if (Model.Retina)
            {
                <div>Yes</div>
            }
            else
            {
                <div>No</div>
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WarehouseStock)
        </dt>

            @if (Model.WarehouseStock > 0)
            {
                <dd>
                @Html.DisplayFor(model => model.WarehouseStock)
                </dd>
            }
            else
            {
                <dd>N/A</dd>
            }

        <dt>
            @Html.DisplayNameFor(model => model.News)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.News)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CameraPixels)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CameraPixels)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Developer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Developer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Discontinued)
        </dt>

        @if (Model.Discontinued)
        {
            <dt>
                @Html.DisplayNameFor(model => model.Discontinued)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Discontinued)
            </dd>

        }

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit","Admin", new { id = Model.Id }, null) |
    @Html.ActionLink("Back to List", "Index")
</p>
