@model WebShop_Mobile.Models.Order

@{
    ViewBag.Title = "Beställning";
    float total = 0;
}

<h2>Beställning</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Processed)
        </th>
        <th></th>
    </tr>
    <tr>
        <td>
            @Model.OrderDate
        </td>
        <td>
            @Model.Customer.EmailAdress
        </td>
        <td>
            @if (Model.Processed)
            {
                <span>Ja</span>
            }
            else
            {
                <span>Nej</span>
            }
        </td>
    </tr>

</table>

@foreach (var item in Model.OrderRows)
{
    total += item.Price;
    <div class="row">
        <div class="col-md-2">
            @{var image = item.CellPhone.ProductCode + ".jpg";}
            <h4>@item.CellPhone.Name</h4>
            <img src="~/Content/Img/@image" class="img-responsive img-thumbnail"/>
            <div>@string.Format("Pris: {0}kr", item.Price.ToString("N2"))</div>
        </div>
    </div>
    <br />
}

<h4>@string.Format("Totalsumma: {0}kr", total.ToString("N2"))</h4>

@Html.ActionLink("Tillbaka till Order", "Index", "Manage")
