@model IEnumerable<WebShop_Mobile.Models.UserViewModel>

@{
    ViewBag.Title = "AllUsers";
}

<h2>AllUsers</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.EmailConfirmed)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumberConfirmed)
        </th>
        <th>
            Full Name
        </th>
        <th>
            Roles
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeliveryAdress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeliveryZip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeliveryCity)
        </th>
        <th></th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email) <br />
            @Html.DisplayFor(modelItem => item.EmailConfirmed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumberConfirmed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Firstname) @Html.DisplayFor(modelItem => item.Lastname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserRoles)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeliveryAdress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeliveryZip)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeliveryCity)
        </td>
        <td>

            @Html.ActionLink("Edit", "EditUser", new { email = item.Email }) |
            @Html.ActionLink("Details", "DetailsUser", new { email = item.Email }) |
            @Html.ActionLink("Delete", "Delete", new { email = item.Email })

        </td>
        <td>
            @Html.ActionLink("Add as admin", "AddAdmin", new { email = item.Email });
        </td>
    </tr>
}

</table>
