@model IEnumerable<WebShop_Mobile.Models.userViewModel>

@{
    ViewBag.Title = "AllUsers";
}

<h2>AllUsers</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.EmailConfirmed)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.PhoneNumberConfirmed)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Firstname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lastname)
        </th>
        <th>
            Billing
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.BillingAdress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BillingZip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BillingCity)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.DeliveryAdress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeliveryZip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeliveryCity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LockoutEnabled)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
            @Html.DisplayFor(modelItem => item.EmailConfirmed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
            @Html.DisplayFor(modelItem => item.PhoneNumberConfirmed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Firstname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lastname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BillingAdress)
            @Html.DisplayFor(modelItem => item.BillingZip)
            @Html.DisplayFor(modelItem => item.BillingCity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeliveryAdress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeliveryZip)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeliveryCity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LockoutEnabled)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
